@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Inter&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: white;
    font-family: 'Inter', helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #44633f;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
.logo, .logo_end {
    width: 80px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a:hover {
    color: #e55812;
}
.top_img {
    width: 100%;
    height: 700px;
}
#top {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    
}
#top_box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#top_msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#top_msg h1, #top_msg h4 {
    text-align: center;
    color: white;
}
#top_msg h1 {
    font-size: 80px;
    font-family: 'Cardo', arial, sans-serif;
}
.home_grid {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.arches_info, .arches_imgbox, .canyon_info, .canyon_imgbox {
    padding: 25px;
    margin: 25px;
}
.arches_img, .canyon_img {
    width: 530px;
    border: 20px solid #44633f;
    border-radius: 5px;
}
.arches_info, .canyon_info {
    border-radius: 5px;
    color: #011627;
}
.arches_info h2 {
    font-family: 'Cardo', arial, sans-serif;
    font-size: 40px;
    text-align: left;
}
.canyon_info h2 {
    font-family: 'Cardo', arial, sans-serif;
    font-size: 40px;
    text-align: right;
}
.arches_info p {
    text-align: left;
}
.canyon_info p {
    text-align: right;
}
.add_info h2 {
    font-family: 'Cardo', arial, sans-serif;
    font-size: 40px;
    text-align: left;
    margin: 25px;
    padding: 25px;
    color:#011627;
}
footer {
    background-color: #44633f;
    color: #011627;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.canyon_button, .arches_button {
    text-align: center;
}
.info_button {
    background-color: #e55812;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.info_button:hover {
    background-color: #011627;
    color: #e55812;
}
.arches_imgbox, .canyon_imgbox {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 25px;
    grid-template-rows: 50px 50px 50px 50px 50px 20px 20px 20px 20px 20px 30px 10px;
}










/* Dining CSS */

.view_morea {
    grid-column: 4/7;
    text-align: right;
    color: white;
    grid-row: 12/13;
    text-decoration: none;
}
.view_morec {
    grid-column: 4/7;
    text-align: right;
    color: white;
    grid-row: 10/11;
    text-decoration: none;
}
.view_morea:hover, .view_morec:hover{
    transform: scale(1.1);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dining_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 175px 100px 500px;
    margin: 30px;
    color:#011627;
    
}
.restaurants {
    grid-column: 1/5;
    grid-row: 2/3;
}
.overview {
    grid-column: 1/5;
    grid-row: 1/2;
}
.column1 {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}
.column2 {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}
.column3 {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}
.column4 {
    grid-column: 4/5;
    grid-row: 3/4;
    text-align: center;
}

.dining_grid h4 {
    font-family: 'Cardo', arial, sans-serif;
    font-size: 35px;
}

.column1, .column2, .column3, .column4 {
    font-size: 18px;
    padding: 26px;
}